<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged Out</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #000; /* Black background */
            color: #fff; /* White text for contrast */
        }
        .container {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container text-center">
        <h1>Anda berhasil keluar</h1>
        <a href="{% url 'home' %}" class="btn btn-primary">Halaman Utama</a>
        <a href="{% url "social:begin" "google-oauth2" %}" class="btn btn-secondary">Masuks Kembali</a>
    </div>
</body>
</html>
