{% extends 'subscriptions/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Kebijakan Privasi</h2>
    <p>Kebijakan Privasi ini menjelaskan bagaimana Usaha Naik Kelas mengumpulkan, menggunakan, dan melindungi informasi pribadi Anda:</p>
    
    <h3>Pengumpulan Informasi</h3>
    <p>Kami mengumpulkan informasi yang Anda berikan saat mendaftar, mengisi formulir, atau menggunakan layanan kami. Ini termasuk nama, alamat email, informasi bisnis, dan lainnya.</p>

    <h3>Penggunaan Informasi</h3>
    <p>Informasi yang kami kumpulkan digunakan untuk menyediakan, memelihara, dan meningkatkan layanan, serta untuk komunikasi langsung mengenai layanan atau penawaran baru.</p>

    <h3>Pembagian Informasi</h3>
    <p>Kami tidak menjual, memperdagangkan, atau menyewakan informasi pribadi Anda kepada pihak ketiga tanpa persetujuan Anda, kecuali dalam keadaan hukum yang mengharuskan kami untuk melakukannya.</p>

    <h3>Keamanan</h3>
    <p>Kami berusaha untuk menggunakan tindakan keamanan yang sesuai untuk melindungi terhadap akses, penggunaan, atau pengungkapan informasi pribadi Anda yang tidak sah.</p>

    <h3>Perubahan Kebijakan Privasi</h3>
    <p>Kami dapat memperbarui kebijakan privasi ini dari waktu ke waktu. Kami akan memberitahu Anda tentang perubahan signifikan melalui layanan kami atau melalui informasi kontak yang Anda berikan.</p>
</div>
{% endblock %}
