{% extends 'subscriptions/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Syarat dan Ketentuan</h2>
    <p>Selamat datang di Usaha Naik Kelas. Dengan menggunakan layanan kami, Anda menyetujui syarat dan ketentuan berikut:</p>
    
    <h3>Penggunaan Layanan</h3>
    <p>Layanan ERP kami ditujukan untuk membantu digitalisasi usaha Anda dengan menyediakan fitur penjualan, pembelian, akuntansi, SDM, inventaris, dan produksi.</p>

    <h3>Akses dan Akun Pengguna</h3>
    <p>Untuk mengakses layanan, pengguna harus mendaftar dan membuat akun. Pengguna bertanggung jawab untuk menjaga kerahasiaan akun dan kata sandi.</p>

    <h3>Ketentuan Pembayaran</h3>
    <p>Kami menggunakan pembayaran pihak ketiga yakni midtrans, segala sesuatu terkait data pembayaran merupakan tanggung jawab pihak ketiga.</p>

    <h3>Penggunaan Data</h3>
    <p>Kami menghormati privasi Anda dan berkomitmen untuk melindungi informasi pribadi yang Anda berikan.</p>

    <h3>Pembatasan</h3>
    <p>Pengguna tidak diperbolehkan menggunakan layanan untuk kegiatan ilegal, menyalahgunakan hak cipta, atau mengganggu operasional layanan.</p>

    <h3>Pengakhiran</h3>
    <p>Kami dapat mengakhiri atau menangguhkan akses Anda ke layanan jika Anda melanggar syarat dan ketentuan.</p>
</div>
{% endblock %}
